Desarrollo/Codigo Fuente/COA.WebCipol/Sitios Comun/wsCipolServices/Web References/Fachada.Seguridad.InicioSesion_Java/wsInicioSesion_Java.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://RGP/CIPOL/InicioSesion_Java" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://RGP/CIPOL/InicioSesion_Java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://RGP/CIPOL/InicioSesion_Java">
      <s:element name="IniciarSesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTerminal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pTerminal_ActualizacionLAN" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciarSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IniciarSesionResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pError" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pTerminal_ActualizacionLAN" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IniciarSesionSoapIn">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IniciarSesionSoapOut">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:portType name="wsInicioSesion_JavaSoap">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input message="tns:IniciarSesionSoapIn" />
      <wsdl:output message="tns:IniciarSesionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsInicioSesion_JavaSoap" type="tns:wsInicioSesion_JavaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarSesion">
      <soap:operation soapAction="http://RGP/CIPOL/InicioSesion_Java/IniciarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsInicioSesion_JavaSoap12" type="tns:wsInicioSesion_JavaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://RGP/CIPOL/InicioSesion_Java/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsInicioSesion_Java">
    <wsdl:port name="wsInicioSesion_JavaSoap" binding="tns:wsInicioSesion_JavaSoap">
      <soap:address location="http://localhost:59859/wsInicioSesion_Java.asmx" />
    </wsdl:port>
    <wsdl:port name="wsInicioSesion_JavaSoap12" binding="tns:wsInicioSesion_JavaSoap12">
      <soap12:address location="http://localhost:59859/wsInicioSesion_Java.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>