Desarrollo/Codigo Fuente/COA.WebCipol/FrameworkCOA/Fachada/Web References/frmkWS/AuditarExcepcion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/PIVEAuditWS/Service1" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/PIVEAuditWS/Service1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/PIVEAuditWS/Service1">
      <s:element name="PublicarExcepcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Excepcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PublicarExcepcionResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PublicarExcepcionSoapIn">
    <wsdl:part name="parameters" element="tns:PublicarExcepcion" />
  </wsdl:message>
  <wsdl:message name="PublicarExcepcionSoapOut">
    <wsdl:part name="parameters" element="tns:PublicarExcepcionResponse" />
  </wsdl:message>
  <wsdl:portType name="AuditarExcepcionSoap">
    <wsdl:operation name="PublicarExcepcion">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Permite auditar en el Visor de Sucesos del servidor un error producido por la aplicación</documentation>
      <wsdl:input message="tns:PublicarExcepcionSoapIn" />
      <wsdl:output message="tns:PublicarExcepcionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuditarExcepcionSoap" type="tns:AuditarExcepcionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="PublicarExcepcion">
      <soap:operation soapAction="http://tempuri.org/PIVEAuditWS/Service1/PublicarExcepcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuditarExcepcion">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="AuditarExcepcionSoap" binding="tns:AuditarExcepcionSoap">
      <soap:address location="http://localhost/frmkWebServices/AuditarExcepcion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>